{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            {% if article is defined %}
                <h1>Edit article "{{ article.name }}"</h1>
                {% set form_url = path('app_article_edit', {'id': article.id}) %}
            {% else %}
                <h1>Create a new article</h1>
                {% set form_url = path('app_article_new') %}
            {% endif %}
            {{ form_start(form, {'action': form_url}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.text) }}
            <button type="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}