{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            <h2>{{ articleEntity.name }}</h2>
            <p>{{ articleEntity.text }}</p>
        </div>
        <a href="{{ path('app_article_edit', {'id': articleEntity.id}) }}"><button>Editer</button></a>
        <form method="POST" action="{{ path('app_article_delete', {'id': articleEntity.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articleEntity.id) }}">
            <button type="submit">Supprimer</button>
        </form>
    </main>
{% endblock %}
